<div class="usa-grid login-selection-header">
  <div class="columns">
    <h2 class="usa-heading">Sign in to VA.gov</h2>
    <p>Sign in using your preferred VA related account</p>
  </div>
</div>
<div class="usa-grid login-selection">
  <div class="usa-width-one-half">
    <a class="no-external-icon usa-button dslogon" href="{{ dslogon_login_link }}"><img alt="DS Logon" src="/samlproxy/idp/img/dslogon-icon.svg" />Sign in with DSLogon</a>
    <a class="no-external-icon usa-button mhv" href="{{ mhv_login_link }}"><img alt="My HealtheVet" src="/samlproxy/idp/img/mhv-icon.svg" />Sign in with My HealtheVet</a>
    <a class="no-external-icon usa-button idme-signin" href="{{ id_me_login_link }}"><img alt="ID.me" src="/samlproxy/idp/img/idme-icon-white.svg" />Sign in with ID.me</a>
    {{#if logingov_login_link}}
    <a class="no-external-icon usa-button login-gov" href="{{ logingov_login_link }}"><img alt="Login.gov" src="/samlproxy/idp/img/icon-dot-gov.svg" />Sign in with Login.gov</a>
    {{/if}}
  </div>
  <div class="usa-width-one-half login-help">
    <h4>Having trouble signing in?</h4>
    <p><a href="https://staging.va.gov/sign-in-faq/">Get answers to Frequently Asked Questions</a></p>
    <p><a href="https://www.accesstocare.va.gov/sign-in-help?_ga=2.98277471.1975490765.1548084298-2093117929.1533218023">Submit a request to get help signing in</a></p>
  </div>
  <span class="sidelines">OR</span>
  <div class="usa-grid idme-signup-footer">
    <div class="usa-width-one-half">
      <h4>Don't have these accounts?</h4>
      <a class="no-external-icon usa-button idme-signup" href="{{ id_me_signup_link }}"><img alt="ID.me" src="/samlproxy/idp/img/idme-icon-dark.svg" />Create an ID.me account</a>
      {{#if logingov_signup_link}}
      <a class="no-external-icon usa-button logingov-signup" href="{{ logingov_signup_link }}"><img alt="Login.gov" src="/samlproxy/idp/img/icon-dot-gov.svg" />Create an login.gov account</a>
      {{/if}}
      <p>Use your email, Google, or Facebook</p>
    </div>
  </div>
</div>
<footer class="fed-warning usa-grid">
  <hr>
  <p>When you sign in to VA.gov, you’re using a United States federal government information system.</p>
  <p>By signing in, you agree to only use information you have legal authority to view and use. You also agree to let us monitor and record your activity on the system and share this information with auditors or law enforcement officials.</p>
  <p>By signing in, you confirm that you understand the following:</p>
  <p>Unauthorized use of this system is prohibited and may result in criminal, civil, or administrative penalties. Unauthorized use includes gaining unauthorized data access, changing data, harming the system or its data, or misusing the system. We can suspend or block your access to this system if we suspect any unauthorized use.</p>
</footer>
