<div class="usa-grid login-selection-header">
  <div class="columns">
    <h2 class="vads-u-margin-top--2 medium-screen:vads-u-margin-top--1 medium-screen:vads-u-margin-bottom--2">Verify your identity</h2>
  </div>
</div>
<div class="row">
  <div class="columns small-12" style="max-width: 400px;">
    <div id="sign-in">
      <% if (login_gov_enabled) { %>
        <a class="no-external-icon usa-button logingov-signin vads-u-margin-y--1p5 vads-u-padding-y--2" href="<%- login_gov_login_link -%>">
          <svg
                  role="img"
                  viewBox="0 0 114 15"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                  style="height: 1em;padding: 0 .25em;"
          >
            <title>Login.gov</title>
            <g clipPath="url(#a)" fill="#fff">
              <path d="M10.388 0h-8.7C.756 0 0 .739 0 1.65v8.086a.974.974 0 0 0 .102.443c.366.714 1.827 3.046 5.934 4.821 4.129-1.786 5.572-4.1 5.938-4.821a.975.975 0 0 0 .102-.443V1.65c0-.438-.178-.857-.495-1.167A1.708 1.708 0 0 0 10.388 0ZM7.673 9.643a9.78 9.78 0 0 1-3.248 0l.562-3.15a1.641 1.641 0 0 1-.665-1.31A1.683 1.683 0 0 1 5.646 3.54a1.726 1.726 0 0 1 1.931.899 1.65 1.65 0 0 1-.47 2.04c.2 1.042.376 2.092.566 3.164Z" />
              <path
                      fillRule="evenodd"
                      clipRule="evenodd"
                      d="M19.822 2.218H17.39V12.75h7.052v-2.075h-4.619V2.218Z"
              />
              <path d="M31.96 2.143c-3.288 0-5.788 2.271-5.788 5.357 0 3.086 2.492 5.357 5.788 5.357 3.296 0 5.788-2.332 5.788-5.357 0-3.025-2.492-5.357-5.788-5.357Zm.03 8.636c-1.842-.014-3.328-1.479-3.326-3.279a3.202 3.202 0 0 1 .964-2.313 3.353 3.353 0 0 1 2.361-.955 3.326 3.326 0 0 1 2.331.968c.614.614.95 1.442.936 2.3.018.86-.318 1.69-.932 2.307a3.326 3.326 0 0 1-2.335.972Z" />
              <path
                      fillRule="evenodd"
                      clipRule="evenodd"
                      d="M45.943 4.204A4.568 4.568 0 0 1 48.9 5.379l1.37-1.7a6.873 6.873 0 0 0-4.326-1.536c-3.357 0-5.882 2.303-5.882 5.357 0 3.054 2.48 5.357 5.743 5.357a8.095 8.095 0 0 0 4.385-1.371V6.957h-4.005v1.86h1.882v1.39c-.65.344-1.37.54-2.108.572a3.384 3.384 0 0 1-3.007-1.612 3.226 3.226 0 0 1 0-3.352 3.384 3.384 0 0 1 3.007-1.611h-.015Z"
              />
              <path d="M56.12 2.218h-2.434V12.75h2.433V2.218Z" />
              <path
                      fillRule="evenodd"
                      clipRule="evenodd"
                      d="m67.311 8.99-5.236-6.772h-2.218V12.75h2.324V5.996l5.222 6.754h2.214V2.218H67.31v6.771ZM74.206 10.093a1.353 1.353 0 0 0-.993.395c-.26.26-.397.616-.377.98-.026.494.229.962.663 1.217.434.255.977.255 1.41 0 .435-.255.69-.723.663-1.217a1.28 1.28 0 0 0-.372-.983 1.342 1.342 0 0 0-.994-.392ZM83.34 4.204a4.568 4.568 0 0 1 2.957 1.175l1.37-1.7a6.873 6.873 0 0 0-4.326-1.536c-3.358 0-5.88 2.303-5.88 5.357 0 3.054 2.481 5.357 5.744 5.357a8.096 8.096 0 0 0 4.385-1.371V6.957h-4.008v1.86h1.882v1.39c-.65.344-1.37.54-2.109.572a3.384 3.384 0 0 1-3.006-1.612 3.225 3.225 0 0 1 0-3.352 3.384 3.384 0 0 1 3.006-1.611h-.014Z"
              />
              <path d="M96.06 2.143c-3.289 0-5.788 2.271-5.788 5.357 0 3.086 2.495 5.357 5.787 5.357 3.293 0 5.792-2.332 5.792-5.357 0-3.025-2.496-5.357-5.791-5.357Zm.036 8.636c-1.847-.014-3.335-1.487-3.325-3.293a3.202 3.202 0 0 1 .964-2.313 3.353 3.353 0 0 1 2.361-.955c.88.007 1.719.359 2.331.975.613.617.947 1.448.928 2.307a3.175 3.175 0 0 1-.929 2.304 3.326 3.326 0 0 1-2.33.975Z" />
              <path
                      fillRule="evenodd"
                      clipRule="evenodd"
                      d="m111.49 2.218-2.956 7.946-2.942-7.946h-2.616l4.235 10.532h2.51L114 2.218h-2.51Z"
              />
            </g>
            <defs>
              <clipPath id="a">
                <path fill="#fff" d="M0 0h114v15H0z" />
              </clipPath>
            </defs>
          </svg>
        </a>
      <% } %>
      <a class="no-external-icon usa-button idme-signin vads-u-margin-y--1p5 vads-u-padding-y--2" href="<%- id_me_login_link -%>">
        <svg
                role="img"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 30 12"
                fill="none"
                style="height: 1em;padding: 0 .25em;"
        >
          <title>ID.me</title>
          <g fillRule="nonzero" fill="none">
            <path
                    d="M1.48515.0384H.96978C.32628.0384 0 .24588 0 .6551v10.12096c0 .40922.32627.6167.96978.6167h.51537c.64332 0 .96977-.20748.96977-.6167V.6551c0-.40922-.32645-.6167-.96977-.6167M7.67332 9.10802H6.14794V2.31206h1.52538c1.90854 0 2.30924 1.84782 2.30924 3.39798s-.4007 3.39798-2.30924 3.39798zm2.901 1.04522c0-1.20723.73212-2.22915 1.74336-2.58106.11573-.56263.17475-1.18411.17475-1.86214 0-3.65857-1.71147-5.67336-4.81911-5.67336h-3.3127c-.4629 0-.67823.23232-.67823.73114v9.88444c0 .49882.21532.73114.67824.73114h3.31269c1.18475 0 2.16587-.29364 2.92723-.85876-.01542-.1217-.02623-.24512-.02623-.3714z"
                    fill="#FFF"
            />
            <path
                    d="M14.24058 10.15324c0 .68452-.51484 1.23952-1.14984 1.23952-.63518 0-1.14984-.555-1.14984-1.23952 0-.68453.51466-1.23952 1.14984-1.23952.635 0 1.14984.555 1.14984 1.23952"
                    fill="#2EC777"
            />
            <path
                    d="M27.26344 5.99604c.00248.0298.00478.05941.00514.0896 0 .04337-.0016.08769-.0062.13488-.01525.15857-.04236.30625-.08047.43922-.2536.88646-.96747 1.0435-1.58492 1.06604.08383-.38496.20718-.76209.35906-1.09489.30057-.66007.67788-1.07006.98466-1.07025.028 0 .05547.0044.08347.013.01188.00362.02233.00973.04112.01967l.01276.0063c.00514.0023.01028.00459.01506.00803.01312.00898.02464.02082.0374.03343l.01046.0105c.0039.00383.00797.00765.0117.01204.0085.01032.01559.02236.02268.03401l.00921.0151c.00638.00993.01259.02005.01826.03209.00336.00707.0062.0149.01418.03553.00815.0216.01648.04337.02268.06706l.00567.02751c.00656.02847.01223.0575.01577.08789l.0023.03324zm2.17934 2.4177a.2772.2772 0 00-.10652-.0256c-.15702-.00553-.26406.06095-.3587.22564-.056.09877-.11112.19926-.1657.29975-.2086.38305-.4241.77871-.73726 1.06223-.42534.38496-1.04102.56512-1.56898.46061-.31404-.06209-.53823-.30701-.67115-.5015-.24386-.35726-.36242-.83832-.34328-1.39274.77713-.0705 3.11951-.4438 3.30578-2.35791.03597-.37102-.06203-.70745-.28356-.97263-.2809-.33624-.72928-.52156-1.26238-.52156-1.56224 0-3.1041 1.76147-3.29958 3.76957-.05334.5508.01028 1.05974.18963 1.5129-.13362.13336-.2598.22946-.3851.29327-.1308.06725-.24422.08081-.32734.03973-.10297-.05158-.14462-.1811-.1611-.28045-.0615-.36777.0179-.79037.11183-1.22691.05547-.256.12477-.5229.18591-.75827.18874-.72618.38422-1.47718.319-2.23584-.05936-.69465-.51164-1.12603-1.18031-1.12603-.93753 0-1.5548.7212-1.95462 1.33943-.0085-.4608-.11041-.79533-.30997-1.01885-.1898-.21283-.46876-.32058-.82888-.32058-.91962 0-1.52928.69274-1.92803 1.29912.00531-.05578.01063-.11271.0163-.16946.02517-.26001.03651-.63256-.15578-.86239-.11466-.13717-.28693-.20652-.51218-.20652-.19885 0-.24847.00115-.46203.03917-.00212.00019-.20877.04394-.28728.1217-.1377.13621-.09393.32401-.06876.43138.00319.01356.00602.02598.00762.03649.01506.10374.01967.22142.01435.35917-.0287.72942-.15436 1.45827-.27363 2.07516-.06433.33243-.137.67058-.2086 1.00434-.15914.7405-.3236 1.50603-.40797 2.27595-.00904.08158.01259.15915.06079.21818.04838.05923.11661.0919.19211.09209l.04963.00038c.50526.00726 1.00185-.01529 1.11882-.32574.1292-.34274.20062-.7596.26389-1.12833l.02782-.16334c.14993-.84787.2809-1.4554.5448-2.23641.13592-.40254.3844-.76515.58537-1.03643.24333-.32822.50562-.64957.80176-.6576.12264-.00687.2024.03249.26265.11865.28764.41362-.07054 1.74866-.2233 2.31875-.03314.12322-.06115.22734-.07887.30376l-.10527.44037c-.15507.64211-.31528 1.306-.39752 1.97754a7.70047 7.70047 0 00-.0225.20747l-.00692.09362.0647.05368c.13043.10909 1.06192-.04356 1.06955-.04604.34346-.12514.41825-.4736.44288-.58805.06398-.29631.12051-.59893.17492-.89123l.0039-.02178c.10261-.5508.2086-1.1207.36739-1.67053.30961-1.06987.72255-1.79986 1.22728-2.16973.21586-.15857.4374-.17614.53806-.04222.17439.23117.0638.85704.01648 1.12432-.06522.37063-.1487.74814-.2295 1.11285l-.00408.01872c-.05175.2325-.10315.46482-.151.6979-.14763.72235-.26885 1.6178.10846 2.13458.19194.26345.48897.3968.88294.3968.41754 0 .81045-.15016 1.23632-.47265.11733-.0896.23571-.19372.3743-.3179.4794.58747 1.02401.83908 1.80965.83908 1.77721 0 2.61265-1.27295 3.08655-2.23048.05973-.12132.12654-.26136.16642-.38019.0592-.17652-.01134-.3691-.16021-.43845z"
                    fill="#FFF"
            />
          </g>
        </svg>
      </a>
      <a class="no-external-icon usa-button dslogon vads-u-margin-y--1p5 vads-u-padding-y--2" href="<%- dslogon_login_link -%>">DS Logon</a>
      <a class="no-external-icon usa-button mhv vads-u-margin-y--1p5 vads-u-padding-y--2" href="<%-  mhv_login_link -%>">My HealtheVet</a>
    </div>
    <div class="row" id="loginNote">
      <p class="vads-u-font-size--base vads-u-margin-top--3 vads-u-padding-x--2"><strong>Note:</strong> We're moving to a simpler and more modern sign-in experience. We'll remove the My HealtheVet option after <strong>January 31, 2025,</strong> and the DS Logon option after <strong>September 30, 2025.</strong><br>
        <a href="https://www.va.gov/resources/creating-an-account-for-vagov">Learn more about creating a Login.gov or ID.me account</a>
      </p>
    </div>
    <div id="sign-up">
        <h2 class="vads-u-margin-top--3">Or create an account</h2>
        <div class="vads-u-display--flex vads-u-flex-direction--column">
          <% if (login_gov_signup_link_enabled) { %>
            <a href="<%= login_gov_signup_link %>" class="vads-c-action-link--blue vads-u-padding-y--2p5 vads-u-width--full logingov">
              <strong style="text-decoration: underline;">Create an account with Login.gov</strong>
            </a>
          <% } %>
          <a href="<%= id_me_signup_link %>" class="vads-c-action-link--blue vads-u-padding-y--2p5 vads-u-width--full idme">
            <strong style="text-decoration: underline;">Create an account with ID.me</strong>
          </a>
        </div>
      </div>
    <div class="row" id="need-help">
      <div class="columns small-12">
        <div class="help-info">
          <h2 class="vads-u-margin-top--0">Having trouble signing in?</h2>
          <p class="vads-u-font-size--base">Get answers to common questions about <a href="https://www.va.gov/resources/verifying-your-identity-on-vagov/">verifying your identity</a></p>
          <p class="vads-u-font-size--base">Call our MyVA411 main information line for help at
            <a href="tel:+18006982411" aria-label="8 0 0. 6 9 8. 2 4 1 1">800-698-2411</a>
            <a aria-label="TTY. 7 1 1" href="tel:711">(TTY: 711)</a>. We're here 24/7.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<footer class="fed-warning usa-grid">
  <hr>
  <p>When you sign in to VA.gov, you're using a United States federal government information system.</p>
  <p>By signing in, you agree to only use information you have legal authority to view and use. You also agree to let us monitor and record your activity on the system and share this information with auditors or law enforcement officials.</p>
  <p>By signing in, you confirm that you understand the following:</p>
  <p>Unauthorized use of this system is prohibited and may result in criminal, civil, or administrative penalties. Unauthorized use includes gaining unauthorized data access, changing data, harming the system or its data, or misusing the system. We can suspend or block your access to this system if we suspect any unauthorized use.</p>
</footer>
